<!-- <mat-toolbar color="primary" style="margin-bottom:16px">
  <span>{{title}}</span>
  <div align="right">
    <mat-slide-toggle>
     <mat-icon color="primary">
      brightness_2
     </mat-icon>
    </mat-slide-toggle>
   </div>
</mat-toolbar> -->

<mat-toolbar color="primary" style="margin-bottom:16px">
  <mat-toolbar-row>
    <h1>{{title}}</h1>
    <mat-slide-toggle [checked]="isDarkTheme | async" (change)="toggleDarkTheme($event.checked)">
      <mat-icon color="primary" >brightness_2</mat-icon>
    </mat-slide-toggle>
    <!--  -->
    <ng-container *ngIf="settings$ | async as settings">
      <h2>{{settings.theme}}</h2>
    </ng-container>
  </mat-toolbar-row>
</mat-toolbar>
